favicon-16x16.png
favicon-32x32.png
index.css
index.html
oauth2-redirect.html
swagger-initializer.js
swagger-ui-bundle.js
swagger-ui-bundle.js.map
swagger-ui-es-bundle-core.js
swagger-ui-es-bundle-core.js.map
swagger-ui-es-bundle.js
swagger-ui-es-bundle.js.map
swagger-ui-standalone-preset.js
swagger-ui-standalone-preset.js.map
swagger-ui.css
swagger-ui.css.map
swagger-ui.js
swagger-ui.js.map